@{
    List<Student> students = ViewData["info"] as List<Student> ?? new List<Student>();
}

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Namefirst</td>
                <td>@student.Namelast</td>
            </tr>
        }
    </tbody>
</table>